/********/
/* HERO */

.section-hero {
  background-color: #ffff80;
  height: 100vh;
  padding: 10.8rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 5%;

  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 1.9rem;
  line-height: 1.4;
  font-family: "Roboto Slab", serif;

  margin-bottom: 5.6rem;
}

.hero-img {
  width: 100%;
}

/***********/
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffff80;
  height: 9.6rem;
  padding: 1rem 4.8rem;
}

.logo {
  height: 8.5rem;
}

/***************/
/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0000ff;
}

/* cause of specificity*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #ff6666;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #ff0000;
}

/************************/
/* FEATURED IN SECTION */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  background-color: #ffffb3;
  background-color: #ffffcc;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* filter: grayscale(100%); */
  filter: brightness(0);
  opacity: 50%;
}

/*****************/
/* HOW IT WORKS */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* the height doesn't work ...*/
/* height: 60%; */

/* ...  therefore we use padding*/
/* 60% of parent width*/
/* padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}



.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
*/
.step-img {
  width: 50%;
  margin: 0.5rem;
}

/*****************/
/* HEROS SECTION */

.section-heroes {
  padding: 9.6rem 0;
}

.heroine {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;

  transition: all 0.4s;
}

.heroine:hover {
  /* transform: translate(2rem, 2rem); */
  transform: translateY(-1.2rem);

  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.heroine-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.heroine-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  border-radius: 100px;
}

.tag--fly {
  background-color: #0000ff;
  color: #fff;
}

.tag--vegan {
  background-color: #000;
  color: #fff;
}
.tag--paleo {
  background-color: #ffff00;
}

.heroine-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heroine-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroine-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.heroine-icon {
  height: 2.4rem;
  width: 2.4rem;
  /* we tried with stroke and fill  */
  color: #e67e22;
  color: #ffff80;
  color: #ff6666;
}

.heroine-icon:hover {
  color: #ff0000;
}

.heroine-img {
  width: 100%;
}

.all-heroines {
  text-align: center;
  font-size: 1.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-icon {
  font-size: 3rem;
  color: #ff6666;
}

/************************/
/* TESTIMONIAL SECTION */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallery-item img:hover {
  /* transform: rotate(45deg); */
  transform: scale(1.1);
}
